@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <a href="#" onclick="LoadMusicFile(1,true)">Tesserkatus - Ultrarozpiedalator</a><br />
    <a href="#" onclick="LoadMusicFile(2,true)">Tesserkatus - 111</a>
</p>
