<div id="buttons">
  	<a href="#" id="rew" class="rew-active">Rewind</a>
  	<!-- <a href="#" id="play" class="play-active">Play</a> -->
  	<a href="#" id="pause">Play</a>
  	<a href="#" id="for" class="for-active">Forward</a>
  	<div class="clr"></div>
</div>
<div id="progress">
  	<p id="title">Beyoncé - End Of Time</p>
</div>
<div class="clr"></div>